<%- include("../partials/head.ejs") -%>
<body>
    <h1>Welcome</h1>
    <p>Login</p>

    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <button id="message">Login</button>
</body>